*.DS_Store
simulations/08*/postprocessing/test*
simulations/03*/postprocessing/timeseries.ipynb
simulations/08*/simulations/niva/*/*.csv
simulations/07*/results*/*.csv
simulations/08*/results*/*.csv
simulations/04_5x5x5x5/intermediate/id/*/input.txt
simulations/07_century_long/results/*.csv
simulations/07_century_long/results2/*.csv
simulations/03_02plusSediments/intermediate/id/*/input.txt
simulations/*/intermediate/id/*/input.txt
chl.csv
t.csv
totp.csv
O2*.csv
*.bz2
.ipynb_checkpoints

simulations/.#README.md

simulations/.#README.md

simulations/08_4dim_4res/postprocessing/test.csv

simulations/09_4dim_4res_not_global/run_eight_years_for_301_310.m

simulations/09_4dim_4res_not_global/run_eight_years_parfor_301_310.m

simulations/09_4dim_4res_not_global/run_eight_years_parfor_301_310.m

simulations/08_4dim_4res/.Rhistory
