*.DS_Store
simulations/08*/simulations/niva/*/*.csv
simulations/07*/results*/*.csv
simulations/04_5x5x5x5/intermediate/id/*/input.txt
simulations/03_02plusSediments/intermediate/id/*/input.txt
simulations/*/intermediate/id/*/input.txt
chl.csv
t.csv
totp.csv
O2*.csv
*.bz2
.ipynb_checkpoints

simulations/.#README.md

simulations/.#README.md

simulations/08_4dim_4res/postprocessing/test.csv
